{% extends 'base.html' %}

{% block 'main' %}


<!-- Main Content -->
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div class="jumbotron text-center">
        <h1 class="display-4">Welcome to Online Courses!</h1>
        <p class="lead">Explore a world of knowledge and enhance your skills with our diverse range of online courses.</p>
        <a class="btn btn-primary btn-lg" href="/course" role="button">Browse Courses</a>
    </div>
    <div class="text-center bg-light">
    <h1 class="display-3 fw-bold">We believe</h1><hr>
    <h4 class="fw-normal text-muted mb-7">
     <p>Learning is the source of human progress.</p>
      
      <p> It has the power to transform our world</p>
        <p>from illness to health,</p>
          <p>from poverty to prosperity,</p>
            <p>from conflict to peace.</p>
      
              <p>It has the power to transform our lives</p>
                <p>for ourselves,</p>
                  <p>for our families,</p>
                    <p>for our communities.</p>
      
                      <p>No matter who we are or where we are,</p>
                        <p>learning empowers us to change and grow</p>
                          <p>and redefine what’s possible.</p>
                            <p>That’s why access to the best learning is a right, not a privilege.</p>
      
                              <p>And that’s why Coursera is here.</p>
                                <p>We partner with the best institutions</p>
                                  <p>to bring the best learning</p>
                                    <p>to every corner of the world.</p>
      
                                      <p>So that anyone, anywhere has the power to</p>
                                        <p>transform their lives through learning. </p> </h4><hr>
      </div>
                  
</div>

</main>
</div>
</div> 
{% endblock 'main' %}